@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-profit: 16 185 129;
    --color-loss: 239 68 68;
    --color-brand: 59 130 246;
  }

  body {
    @apply bg-gray-50 text-gray-900 antialiased dark:bg-gray-950 dark:text-gray-100;
  }
}
